.caro-slide {
    width: 100%;
}

.caro-img {
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 4/3;
}

.slide {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
}

.single .carousel-indicators, .single .carousel-control-prev, .single .carousel-control-next{
    display: none;
}

.multi .carousel-control-prev-icon, .multi .carousel-control-next-icon {
    background-color: rgb(23, 23, 23);
    border-radius: 50%;
}
